#header 
  h1='Projects > '
    a#projectLink(href='javascript:;') Add

#content

  #projectForm
    br
    div Add project
    input#projectName(type='text')
    input#projectNextStep(type='button', value='Next Step')

ul#projectList
  - for project in projects
    li
      a(href=project.url)=project.name