!!!
html
  head
    title Story Teller
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/third-party/jquery-1.4.2.min.js')
    script(type='text/javascript', src='/javascripts/storyCard.js')
    script(type='text/javascript', src='/javascripts/index.js')
  body!= body