#header 
  #new-space +
  h1#projectName
    a(href='/') Projects
    span=' > '
    a(href=story.url.substr(0, story.url.indexOf('/', 1)))=story.project
    span=' > '+story.title

input#storyTitle(type='hidden', value=story.title)

#content
#black-box