* {
    margin: 0;
    padding: 0;
}
html {
   height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   height: 100%;
}

a {
  color: #00B7FF;
}

#header {
    color: #997857;
    background-color: #6E4A40;
}

#header h1 {
    font-size: 22px;
    padding: 5px;
}

#content {
    height: 95%;
}

#new-space {
    float: right;
    background-color: #ccc;
    padding: 0 6px 0 6px;
    margin: 2px;
    font-size: 25px;
    font-weight: bold;
}

#new-space:hover {
    background-color: #0ff;
    cursor: pointer;
}

.story {
    position: relative;
    margin: 5px auto;
    background-color: #ccc;
    padding: 5px;
    width: 95%;
    height: 95%;
}

.story-id {
    color: #0ff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.story-title {
    float: left;
    font-size: 30px;
}

.story-body {
    position: relative;
    margin-top: 50px;
    clear: both;
    font-size: 20px;
}

#black-box {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

