html {
   height: 100%;
}

body {
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

#content {
    padding: 0 10px;
}

#header {
    color: #997857;
    background-color: #6E4A40;
}

#header h1 {
    font-size: 22px;
    padding: 15px;
    margin: 0;
}

#header a {
    color: #886746;
    opacity: 0.7;
}

#header a:hover {
    opacity: 1.0;
}

#projectForm {
    display: none;
}

#new-space {
    float: right;
    background-color: #ccc;
    padding: 0 6px 0 6px;
    margin: 2px;
    font-size: 25px;
    font-weight: bold;
}

#new-space:hover {
    background-color: #0ff;
    cursor: pointer;
}

.story {
    position: relative;
    margin: 5px auto;
    background-color: #fff;
    padding: 5px;
    width: 95%;
    height: 95%;
}

.story-id {
    color: #0ff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.story-title {
    float: left;
    font-size: 30px;
}

.story-body {
    position: relative;
    margin-top: 50px;
    clear: both;
    font-size: 20px;
}

.action-button:hover {
    opacity: 0.88;
}

.action-button {
    cursor: pointer;
    background-color: #000;
    color: #666;
    padding: 5px;
    margin: 3px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    width: 80px;
}

#save-card {
    bottom: 0;
    right: 100px;
}

#close-card {
    bottom: 0;
    right: 0;
}